#Validator results 
Execution date 2014-10-21 16:55:48 

##Entities with no instances (less than 2) 

Number: 205 

+ http://dbpedia.org/ontology/Abbey
 + http://dbpedia.org/ontology/Ambassador
 + http://dbpedia.org/ontology/Amphibian
 + http://dbpedia.org/ontology/Animal
 + http://dbpedia.org/ontology/Anime
 + http://dbpedia.org/ontology/Arachnid
 + http://dbpedia.org/ontology/Architect
 + http://dbpedia.org/ontology/Arena
 + http://dbpedia.org/ontology/ArtistDiscography
 + http://dbpedia.org/ontology/Asteroid
 + http://dbpedia.org/ontology/Atoll
 + http://dbpedia.org/ontology/Author
 + http://dbpedia.org/ontology/Bacteria
 + http://dbpedia.org/ontology/Band
 + http://dbpedia.org/ontology/Beer
 + http://dbpedia.org/ontology/Bird
 + http://dbpedia.org/ontology/Blazon
 + http://dbpedia.org/ontology/Bone
 + http://dbpedia.org/ontology/Boxer
 + http://dbpedia.org/ontology/Brain
 + http://dbpedia.org/ontology/Broadcast
 + http://dbpedia.org/ontology/Camera
 + http://dbpedia.org/ontology/Canal
 + http://dbpedia.org/ontology/Cardinal
 + http://dbpedia.org/ontology/Cartoon
 + http://dbpedia.org/ontology/Case
 + http://dbpedia.org/ontology/Casino
 + http://dbpedia.org/ontology/Castle
 + http://dbpedia.org/ontology/Cave
 + http://dbpedia.org/ontology/Cave
 + http://dbpedia.org/ontology/Cave
 + http://dbpedia.org/ontology/Celebrity
 + http://dbpedia.org/ontology/Chancellor
 + http://dbpedia.org/ontology/Cheese
 + http://dbpedia.org/ontology/Chef
 + http://dbpedia.org/ontology/ChristianBishop
 + http://dbpedia.org/ontology/ChristianPatriarch
 + http://dbpedia.org/ontology/Church
 + http://dbpedia.org/ontology/City
 + http://dbpedia.org/ontology/CityDistrict
 + http://dbpedia.org/ontology/ClubMoss
 + http://dbpedia.org/ontology/Comedian
 + http://dbpedia.org/ontology/Comedian
 + http://dbpedia.org/ontology/Comic
 + http://dbpedia.org/ontology/Comics
 + http://dbpedia.org/ontology/Community
 + http://dbpedia.org/ontology/Conifer
 + http://dbpedia.org/ontology/Constellation
 + http://dbpedia.org/ontology/Continent
 + http://dbpedia.org/ontology/Convention
 + http://dbpedia.org/ontology/Convention
 + http://dbpedia.org/ontology/Country
 + http://dbpedia.org/ontology/Country
 + http://dbpedia.org/ontology/Crustacean
 + http://dbpedia.org/ontology/Cycad
 + http://dbpedia.org/ontology/Cycad
 + http://dbpedia.org/ontology/Deanary
 + http://dbpedia.org/ontology/Decoration
 + http://dbpedia.org/ontology/Deity
 + http://dbpedia.org/ontology/Department
 + http://dbpedia.org/ontology/Deputy
 + http://dbpedia.org/ontology/Diocese
 + http://dbpedia.org/ontology/District
 + http://dbpedia.org/ontology/Dog
 + http://dbpedia.org/ontology/Drama
 + http://dbpedia.org/ontology/Drama
 + http://dbpedia.org/ontology/Drug
 + http://dbpedia.org/ontology/Drug
 + http://dbpedia.org/ontology/Drug
 + http://dbpedia.org/ontology/Election
 + http://dbpedia.org/ontology/Engineer
 + http://dbpedia.org/ontology/Enzyme
 + http://dbpedia.org/ontology/Eukaryote
 + http://dbpedia.org/ontology/Eukaryote
 + http://dbpedia.org/ontology/Factory
 + http://dbpedia.org/ontology/Factory
 + http://dbpedia.org/ontology/Family
 + http://dbpedia.org/ontology/Fashion
 + http://dbpedia.org/ontology/Fern
 + http://dbpedia.org/ontology/Fern
 + http://dbpedia.org/ontology/Fish
 + http://dbpedia.org/ontology/Flag
 + http://dbpedia.org/ontology/Fungus
 + http://dbpedia.org/ontology/Fungus
 + http://dbpedia.org/ontology/Galaxy
 + http://dbpedia.org/ontology/Game
 + http://dbpedia.org/ontology/Gene
 + http://dbpedia.org/ontology/Ginkgo
 + http://dbpedia.org/ontology/Gnetophytes
 + http://dbpedia.org/ontology/Gnetophytes
 + http://dbpedia.org/ontology/Gnetophytes
 + http://dbpedia.org/ontology/Gnetophytes
 + http://dbpedia.org/ontology/Governor
 + http://dbpedia.org/ontology/Grape
 + http://dbpedia.org/ontology/Group
 + http://dbpedia.org/ontology/HorseRider
 + http://dbpedia.org/ontology/Host
 + http://dbpedia.org/ontology/Ideology
 + http://dbpedia.org/ontology/Insect
 + http://dbpedia.org/ontology/Installment
 + http://dbpedia.org/ontology/Intercommunality
 + http://dbpedia.org/ontology/Judge
 + http://dbpedia.org/ontology/Judge
 + http://dbpedia.org/ontology/Legislature
 + http://dbpedia.org/ontology/Letter
 + http://dbpedia.org/ontology/Library
 + http://dbpedia.org/ontology/Lieutenant
 + http://dbpedia.org/ontology/Ligament
 + http://dbpedia.org/ontology/Lighthouse
 + http://dbpedia.org/ontology/List
 + http://dbpedia.org/ontology/Locality
 + http://dbpedia.org/ontology/Locomotive
 + http://dbpedia.org/ontology/Magazine
 + http://dbpedia.org/ontology/Mammal
 + http://dbpedia.org/ontology/Manga
 + http://dbpedia.org/ontology/Manhua
 + http://dbpedia.org/ontology/Mayor
 + http://dbpedia.org/ontology/Medician
 + http://dbpedia.org/ontology/Memorial
 + http://dbpedia.org/ontology/Mill
 + http://dbpedia.org/ontology/Mineral
 + http://dbpedia.org/ontology/Mollusca
 + http://dbpedia.org/ontology/Monarch
 + http://dbpedia.org/ontology/Monastery
 + http://dbpedia.org/ontology/Monument
 + http://dbpedia.org/ontology/Mosque
 + http://dbpedia.org/ontology/Moss
 + http://dbpedia.org/ontology/MotorcycleRider
 + http://dbpedia.org/ontology/Municipality
 + http://dbpedia.org/ontology/Murderer
 + http://dbpedia.org/ontology/Murderer
 + http://dbpedia.org/ontology/Muscle
 + http://dbpedia.org/ontology/Musical
 + http://dbpedia.org/ontology/Name
 + http://dbpedia.org/ontology/Nerve
 + http://dbpedia.org/ontology/Noble
 + http://dbpedia.org/ontology/Novel
 + http://dbpedia.org/ontology/Opera
 + http://dbpedia.org/ontology/Painter
 + http://dbpedia.org/ontology/Parish
 + http://dbpedia.org/ontology/Park
 + http://dbpedia.org/ontology/Philosopher
 + http://dbpedia.org/ontology/Planet
 + http://dbpedia.org/ontology/Plant
 + http://dbpedia.org/ontology/Play
 + http://dbpedia.org/ontology/PlayboyPlaymate
 + http://dbpedia.org/ontology/Polyhedron
 + http://dbpedia.org/ontology/Pope
 + http://dbpedia.org/ontology/Prefecture
 + http://dbpedia.org/ontology/Presenter
 + http://dbpedia.org/ontology/Presenter
 + http://dbpedia.org/ontology/Priest
 + http://dbpedia.org/ontology/PrimeMinister
 + http://dbpedia.org/ontology/Prison
 + http://dbpedia.org/ontology/Professor
 + http://dbpedia.org/ontology/Project
 + http://dbpedia.org/ontology/Province
 + http://dbpedia.org/ontology/Publisher
 + http://dbpedia.org/ontology/Race
 + http://dbpedia.org/ontology/Racecourse
 + http://dbpedia.org/ontology/Regency
 + http://dbpedia.org/ontology/Region
 + http://dbpedia.org/ontology/Religious
 + http://dbpedia.org/ontology/Reptile
 + http://dbpedia.org/ontology/Restaurant
 + http://dbpedia.org/ontology/Rocket
 + http://dbpedia.org/ontology/Royalty
 + http://dbpedia.org/ontology/School
 + http://dbpedia.org/ontology/Sculptor
 + http://dbpedia.org/ontology/Sculpture
 + http://dbpedia.org/ontology/Senator
 + http://dbpedia.org/ontology/Settlement
 + http://dbpedia.org/ontology/Shrine
 + http://dbpedia.org/ontology/Skater
 + http://dbpedia.org/ontology/Skier
 + http://dbpedia.org/ontology/Skyscraper
 + http://dbpedia.org/ontology/Species
 + http://dbpedia.org/ontology/SportCompetitionResult
 + http://dbpedia.org/ontology/SportsLeague
 + http://dbpedia.org/ontology/Star
 + http://dbpedia.org/ontology/Star
 + http://dbpedia.org/ontology/State
 + http://dbpedia.org/ontology/SubMunicipality
 + http://dbpedia.org/ontology/Swarm
 + http://dbpedia.org/ontology/Swimmer
 + http://dbpedia.org/ontology/Synagogue
 + http://dbpedia.org/ontology/TelevisionSeason
 + http://dbpedia.org/ontology/Temple
 + http://dbpedia.org/ontology/Territory
 + http://dbpedia.org/ontology/Theatre
 + http://dbpedia.org/ontology/Tournament
 + http://dbpedia.org/ontology/Town
 + http://dbpedia.org/ontology/Train
 + http://dbpedia.org/ontology/Tunnel
 + http://dbpedia.org/ontology/Valley
 + http://dbpedia.org/ontology/Venue
 + http://dbpedia.org/ontology/VicePresident
 + http://dbpedia.org/ontology/Village
 + http://dbpedia.org/ontology/Volcano
 + http://dbpedia.org/ontology/Wine
 + http://dbpedia.org/ontology/Wrestler
 + http://dbpedia.org/ontology/Year
 + http://dbpedia.org/ontology/crosses
 + http://dbpedia.org/ontology/source
 + http://dbpedia.org/ontology/totalPopulation


##Contradictory info 

Contradictory information for sg: director 

|    |dbEntity                                  |sg       |pl       |gen       |
|:---|:-----------------------------------------|:--------|:--------|:---------|
|295 |http://dbpedia.org/ontology/SportsManager |director |director |masculine |
|496 |http://dbpedia.org/ontology/rector        |director |         |          |


Contradictory information for sg: género 

|    |dbEntity                          |sg     |pl      |gen       |
|:---|:---------------------------------|:------|:-------|:---------|
|148 |http://dbpedia.org/ontology/Genre |género |géneros |masculine |
|408 |http://dbpedia.org/ontology/genus |género |        |          |


Contradictory information for sg: hijo 

|    |dbEntity                          |sg   |pl    |gen          |
|:---|:---------------------------------|:----|:-----|:------------|
|358 |http://dbpedia.org/ontology/child |hijo |hijos |commonGender |
|366 |http://dbpedia.org/ontology/child |hijo |hijos |masculine    |


Contradictory information for sg: parte 

|    |dbEntity                                     |sg    |pl     |gen       |
|:---|:--------------------------------------------|:-----|:------|:---------|
|352 |http://dbpedia.org/ontology/broadcastNetwork |parte |       |          |
|381 |http://dbpedia.org/ontology/commandStructure |parte |partes |masculine |


Contradictory information for sg: universidad 

|    |dbEntity                               |sg          |pl            |gen      |
|:---|:--------------------------------------|:-----------|:-------------|:--------|
|80  |http://dbpedia.org/ontology/College    |universidad |universidades |feminine |
|534 |http://dbpedia.org/ontology/university |universidad |              |         |







##Specified and unspecified info 
plural or gender specified but also unspecified:  antecesor 


plural or gender specified but also unspecified:  arquitecto 


plural or gender specified but also unspecified:  capacidad 


plural or gender specified but also unspecified:  estado 


plural or gender specified but also unspecified:  familia 


plural or gender specified but also unspecified:  filial 


plural or gender specified but also unspecified:  fundador 


plural or gender specified but also unspecified:  hija 


plural or gender specified but also unspecified:  intérprete 


plural or gender specified but also unspecified:  lema 


plural or gender specified but also unspecified:  madre 


plural or gender specified but also unspecified:  padre 


plural or gender specified but also unspecified:  predecesor 


plural or gender specified but also unspecified:  resultado 







##Sentences for classNoun entities 

http://dbpedia.org/ontology/Album

+ MTV Unplugged (Café Tacvba) es un LP
+ MTV Unplugged (Café Tacvba) y Live As All Get Out son LP

http://dbpedia.org/ontology/Activity

+ Baloncesto es una actividad
+ Baloncesto y Balonmano son actividades

http://dbpedia.org/ontology/Actor

+ Eloi Yebra es un actor
+ Eloi Yebra y Magnús Scheving son actores

http://dbpedia.org/ontology/Aircraft

+ Boeing 747SP es una aeronave
+ Boeing 747SP y Airbus A380 son aeronaves

http://dbpedia.org/ontology/Aircraft

+ Boeing 747SP es un aeroplano
+ Boeing 747SP y Airbus A380 son aeroplanos

http://dbpedia.org/ontology/Airport

+ Aeropuerto Intercontinental George Bush es un aeropuerto
+ Aeropuerto Intercontinental George Bush y Aeropuerto Internacional Capital son aeropuertos

http://dbpedia.org/ontology/Agent

+ Adela Pedrosa es un agente
+ Adela Pedrosa y Caroline Lake Quiner son agentes

http://dbpedia.org/ontology/leader

+ <http://es.dbpedia.org/resource/HDZ> es un alcalde
+ <http://es.dbpedia.org/resource/HDZ> y <http://es.dbpedia.org/resource/HDZ> son alcaldes

http://dbpedia.org/ontology/alias

+ Ciudad Universitaria es un alias
+ Ciudad Universitaria y Estrella son alias

http://dbpedia.org/ontology/alias

+ Ciudad Universitaria es un apodo
+ Ciudad Universitaria y Estrella son apodos

http://dbpedia.org/ontology/Weapon

+ Claymore es una arma
+ Claymore y AKM son armas

http://dbpedia.org/ontology/Artery

+ Aorta es una arteria
+ Aorta y Arteria femoral son arterias

http://dbpedia.org/ontology/Artist

+ Eloi Yebra es una artista
+ Eloi Yebra y Magnús Scheving son artistas

http://dbpedia.org/ontology/Automobile

+ Nissan Almera es un auto
+ Nissan Almera y Daihatsu Terios son autos

http://dbpedia.org/ontology/Automobile

+ automóvil1 es un automóvil
+ automóvil1 y automóvil2 son automóviles

http://dbpedia.org/ontology/creator

+ <http://es.dbpedia.org/resource/David_Davis> es un autor
+ <http://es.dbpedia.org/resource/David_Davis> y <http://es.dbpedia.org/resource/Magnús_Scheving> son autores

http://dbpedia.org/ontology/writer

+ <http://es.dbpedia.org/resource/Scott_Fellows> es un autor
+ <http://es.dbpedia.org/resource/Scott_Fellows> y <http://es.dbpedia.org/resource/Scott_Fellows> son autores

http://dbpedia.org/ontology/Aircraft

+ avión1 es un avión
+ avión1 y avión2 son aviones

http://dbpedia.org/ontology/Ship

+ Cardenal Cisneros (1903) es un barco
+ Cardenal Cisneros (1903) y Almirante Lynch (PFG-07) son barcos

http://dbpedia.org/ontology/MilitaryConflict

+ Armada Invencible es una batalla
+ Armada Invencible y Batalla de Angora son batallas

http://dbpedia.org/ontology/Beverage

+ Cubalibre es una bebida
+ Cubalibre y Dr Pepper son bebidas

http://dbpedia.org/ontology/Biomolecule

+ biomolécula1 es una biomolécula
+ biomolécula1 y biomolécula2 son biomoléculas

http://dbpedia.org/ontology/Ship

+ Cardenal Cisneros (1903) es un buque
+ Cardenal Cisneros (1903) y Almirante Lynch (PFG-07) son buques

http://dbpedia.org/ontology/Song

+ canción1 es una canción
+ canción1 y canción2 son canciones

http://dbpedia.org/ontology/album

+ canción1 es una canción
+ canción1 y canción2 son canciones

http://dbpedia.org/ontology/Road

+ Autovía A-9 es una carretera
+ Autovía A-9 y Ronda Norte son carreteras

http://dbpedia.org/ontology/Cyclist

+ Abraham Olano es un ciclista
+ Abraham Olano y Alessandro Petacchi son ciclistas

http://dbpedia.org/ontology/Scientist

+ científico1 es un científico
+ científico1 y científico2 son científicos

http://dbpedia.org/ontology/Cleric

+ clérigo1 es un clérigo
+ clérigo1 y clérigo2 son clérigos

http://dbpedia.org/ontology/Automobile

+ Nissan Almera es un coche
+ Nissan Almera y Daihatsu Terios son coches

http://dbpedia.org/ontology/Colour

+ Amarillo es un color
+ Amarillo y Azul son colores

http://dbpedia.org/ontology/colourName

+ Fuchsia es un color
+ Fuchsia y Orange son colores

http://dbpedia.org/ontology/Food

+ Cubalibre es una comida
+ Cubalibre y Dr Pepper son comidas

http://dbpedia.org/ontology/Stream

+ Tíber es un corriente
+ Tíber y Río Atabapo son corrientes

http://dbpedia.org/ontology/Criminal

+ Charles Manson es un criminal
+ Charles Manson y Pablo Escobar son criminales

http://dbpedia.org/ontology/Painting

+ El enigma del deseo es un cuadro
+ El enigma del deseo y El hombre invisible (cuadro) son cuadros

http://dbpedia.org/ontology/Criminal

+ Charles Manson es un delincuente
+ Charles Manson y Pablo Escobar son delincuentes

http://dbpedia.org/ontology/Sport

+ Baloncesto es un deporte
+ Baloncesto y Balonmano son deportes

http://dbpedia.org/ontology/Newspaper

+ Aurora de Chile es un diario
+ Aurora de Chile y Bild son diarios

http://dbpedia.org/ontology/Device

+ Claymore es un dispositivo
+ Claymore y AKM son dispositivos

http://dbpedia.org/ontology/Disease

+ Broncoespasmo es una dolencia
+ Broncoespasmo y Contusión pulmonar son dolencias

http://dbpedia.org/ontology/Cleric

+ eclesiástico1 es un eclesiástico
+ eclesiástico1 y eclesiástico2 son eclesiásticos

http://dbpedia.org/ontology/Building

+ Museo Nacional del Virreinato es un edificio
+ Museo Nacional del Virreinato y 311 South Wacker Drive son edificios

http://dbpedia.org/ontology/publisher

+ <http://es.dbpedia.org/resource/John_Murray> es un editor
+ <http://es.dbpedia.org/resource/John_Murray> y <http://es.dbpedia.org/resource/John_Murray> son editores

http://dbpedia.org/ontology/Album

+ elepé1 es un elepé
+ elepé1 y elepé2 son elepés

http://dbpedia.org/ontology/Ship

+ embarcación1 es una embarcación
+ embarcación1 y embarcación2 son embarcaciones

http://dbpedia.org/ontology/Broadcaster

+ RCTV Mundo es un emisor
+ RCTV Mundo y Al-Arabiya son emisores

http://dbpedia.org/ontology/Company

+ AeroPerú es una empresa
+ AeroPerú y Aeroflot son empresas

http://dbpedia.org/ontology/Disease

+ Broncoespasmo es una enfermedad
+ Broncoespasmo y Contusión pulmonar son enfermedades

http://dbpedia.org/ontology/Hospital

+ enfermería1 es una enfermería
+ enfermería1 y enfermería2 son enfermerías

http://dbpedia.org/ontology/TelevisionEpisode

+ Running to Stand Still (Desperate Housewives) es un episodio
+ Running to Stand Still (Desperate Housewives) y Field of Streams son episodios

http://dbpedia.org/ontology/series

+ <http://es.dbpedia.org/resource/Mario> es un episodio
+ <http://es.dbpedia.org/resource/Mario> y <http://es.dbpedia.org/resource/Kirby> son episodios

http://dbpedia.org/ontology/SportsTeam

+ Club Deportivo Luis Cruz Martínez es un equipo
+ Club Deportivo Luis Cruz Martínez y América S. A. son equipos

http://dbpedia.org/ontology/team

+ <http://es.dbpedia.org/resource/Cruz_Azul> es un equipo
+ <http://es.dbpedia.org/resource/Cruz_Azul> y <http://es.dbpedia.org/resource/Club_Deportivo_Zamora> son equipos

http://dbpedia.org/ontology/Writer

+ Susan Napier es un escritor
+ Susan Napier y Enrique Barrios son escritores

http://dbpedia.org/ontology/writer

+ <http://es.dbpedia.org/resource/Scott_Fellows> es un escritor
+ <http://es.dbpedia.org/resource/Scott_Fellows> y <http://es.dbpedia.org/resource/Scott_Fellows> son escritores

http://dbpedia.org/ontology/spouse

+ <http://es.dbpedia.org/resource/Charles_Phillip_Ingalls> es una esposa
+ <http://es.dbpedia.org/resource/Charles_Phillip_Ingalls> y <http://es.dbpedia.org/resource/Zéline_Trigant> son esposas

http://dbpedia.org/ontology/Station

+ estación1 es una estación
+ estación1 y estación2 son estaciones

http://dbpedia.org/ontology/Stadium

+ Allianz Arena es un estadio
+ Allianz Arena y Estadio Alberto Gallardo son estadios

http://dbpedia.org/ontology/Event

+ Primera división mexicana 1963/64 es un evento
+ Primera división mexicana 1963/64 y Torneo de Verano 1997 (México) son eventos

http://dbpedia.org/ontology/leader

+ <http://es.dbpedia.org/resource/HDZ> es un gobernador
+ <http://es.dbpedia.org/resource/HDZ> y <http://es.dbpedia.org/resource/HDZ> son gobernadores

http://dbpedia.org/ontology/MilitaryConflict

+ Armada Invencible es una guerra
+ Armada Invencible y Batalla de Angora son guerras

http://dbpedia.org/ontology/Hospital

+ Hospital Clínico de la Universidad de Chile es un hospital
+ Hospital Clínico de la Universidad de Chile y Hospital Gustavo Aldegueria Lima son hospitales

http://dbpedia.org/ontology/Hotel

+ Hollywood Roosevelt Hotel es un hotel
+ Hollywood Roosevelt Hotel y Hotel Llao Llao son hoteles

http://dbpedia.org/ontology/Language

+ Aragonés cheso es un idioma
+ Aragonés cheso e Aranés son idiomas

http://dbpedia.org/ontology/spokenIn

+ <http://es.dbpedia.org/resource/Departamento_del_Ucayali> es un idioma
+ <http://es.dbpedia.org/resource/Departamento_del_Ucayali> e <http://es.dbpedia.org/resource/Polinesia_francesa> son idiomas

http://dbpedia.org/ontology/Tax

+ Swietenia mahagoni es un impuesto
+ Swietenia mahagoni e Copernicia tectorum son impuestos

http://dbpedia.org/ontology/Infrastructure

+ Autovía A-9 es un infraestructura
+ Autovía A-9 e Estación Ingeniero Williams son infraestructuras

http://dbpedia.org/ontology/Instrument

+ Acordeón es un instrumento
+ Acordeón e Bombo son instrumentos

http://dbpedia.org/ontology/instrument

+ <http://es.dbpedia.org/resource/Hammond> es un instrumento
+ <http://es.dbpedia.org/resource/Hammond> e <http://es.dbpedia.org/resource/Slide> son instrumentos

http://dbpedia.org/ontology/Scientist

+ Wolfgang Strobl es un investigador
+ Wolfgang Strobl e Abraham Maslow son invesigadores

http://dbpedia.org/ontology/Island

+ Alegranza es una isla
+ Alegranza e Bali son islas

http://dbpedia.org/ontology/team

+ <http://es.dbpedia.org/resource/Cruz_Azul> es un jugador
+ <http://es.dbpedia.org/resource/Cruz_Azul> y <http://es.dbpedia.org/resource/Club_Deportivo_Zamora> son jugadores

http://dbpedia.org/ontology/Lake

+ Lago Enriquillo es un lago
+ Lago Enriquillo y Lago Espejo son lagos

http://dbpedia.org/ontology/Language

+ Aragonés cheso es una lengua
+ Aragonés cheso y Aranés son lenguas

http://dbpedia.org/ontology/spokenIn

+ <http://es.dbpedia.org/resource/Departamento_del_Ucayali> es una lengua
+ <http://es.dbpedia.org/resource/Departamento_del_Ucayali> y <http://es.dbpedia.org/resource/Polinesia_francesa> son lenguas

http://dbpedia.org/ontology/Book

+ Inheritance (El legado) es un libro
+ Inheritance (El legado) y Empresas y tribulaciones de Maqroll el Gaviero son libros

http://dbpedia.org/ontology/Place

+ localización1 es una localización
+ localización1 y localización2 son localizaciones

http://dbpedia.org/ontology/Place

+ Distrito de Acolla es un lugar
+ Distrito de Acolla y Montastruc (Altos Pirineos) son lugares

http://dbpedia.org/ontology/Disease

+ Broncoespasmo es una mal
+ Broncoespasmo y Contusión pulmonar son males

http://dbpedia.org/ontology/spouse

+ <http://es.dbpedia.org/resource/Charles_Phillip_Ingalls> es un marido
+ <http://es.dbpedia.org/resource/Charles_Phillip_Ingalls> y <http://es.dbpedia.org/resource/Zéline_Trigant> son esposos

http://dbpedia.org/ontology/Currency

+ Balboa (moneda de Panamá) es una moneda
+ Balboa (moneda de Panamá) y Boliviano (moneda de Bolivia) son monedas

http://dbpedia.org/ontology/Mountain

+ montaña1 es una montaña
+ montaña1 y montaña2 son montañas

http://dbpedia.org/ontology/Museum

+ Museo Nacional del Virreinato es un museo
+ Museo Nacional del Virreinato y Basketball Hall of Fame son museos

http://dbpedia.org/ontology/Artwork

+ El enigma del deseo es una obra
+ El enigma del deseo y El hombre invisible (cuadro) son obras

http://dbpedia.org/ontology/Organisation

+ organización1 es una organización
+ organización1 y organización2 son organizaciones

http://dbpedia.org/ontology/FootballMatch

+ Primera división mexicana 1963/64 es un partido
+ Primera división mexicana 1963/64 y Torneo de Verano 1997 (México) son partidos

http://dbpedia.org/ontology/PoliticalParty

+ Alianza Republicana Nacionalista es un partido
+ Alianza Republicana Nacionalista y Alianza de la Izquierda Democrática son partidos

http://dbpedia.org/ontology/Film

+ película1 es una película
+ película1 y película2 son películas

http://dbpedia.org/ontology/Newspaper

+ periódico1 es un periódico
+ periódico1 y periódico2 son periódicos

http://dbpedia.org/ontology/Person

+ Adela Pedrosa es una persona
+ Adela Pedrosa y Caroline Lake Quiner son personas

http://dbpedia.org/ontology/weight

+ -75000 es un peso
+ -75000 y -48000 son pesos

http://dbpedia.org/ontology/Painting

+ El enigma del deseo es una pintura
+ El enigma del deseo y El hombre invisible (cuadro) son pinturas

http://dbpedia.org/ontology/populationMetro

+ población1 es una población
+ población1 y población2 son poblaciones

http://dbpedia.org/ontology/populationTotal

+ población1 es una población
+ población1 y población2 son poblaciones

http://dbpedia.org/ontology/populationUrban

+ población1 es una población
+ población1 y población2 son poblaciones

http://dbpedia.org/ontology/Politician

+ políticos1 es un políticos
+ políticos1 y políticos2 son políticos

http://dbpedia.org/ontology/Award

+ Dune es un premio
+ Dune y Fahrenheit 451 son premios

http://dbpedia.org/ontology/presenter

+ <http://es.dbpedia.org/resource/Jorge_Rossi> es un presentador
+ <http://es.dbpedia.org/resource/Jorge_Rossi> y <http://es.dbpedia.org/resource/Patricia_Pérez> son presentadores

http://dbpedia.org/ontology/President

+ Adela Pedrosa es un presidente
+ Adela Pedrosa y Eugène Jacques Pierre Louis Jungers son presidentes

http://dbpedia.org/ontology/chairman

+ <http://es.dbpedia.org/resource/Capitán_de_Navío> es un presidente
+ <http://es.dbpedia.org/resource/Capitán_de_Navío> y <http://es.dbpedia.org/resource/Leo_O'Brien> son presidentes

http://dbpedia.org/ontology/leader

+ <http://es.dbpedia.org/resource/HDZ> es un presidente
+ <http://es.dbpedia.org/resource/HDZ> y <http://es.dbpedia.org/resource/HDZ> son presidentes

http://dbpedia.org/ontology/Protein

+ proteína1 es una proteína
+ proteína1 y proteína2 son proteínas

http://dbpedia.org/ontology/Bridge

+ Gran Puente de Akashi Kaikyō es un puente
+ Gran Puente de Akashi Kaikyō y Pasarela Simone de Beauvoir son puentes

http://dbpedia.org/ontology/Road

+ Autovía A-9 es una ruta
+ Autovía A-9 y Ronda Norte son rutas

http://dbpedia.org/ontology/River

+ río1 es un río
+ río1 y río2 son ríos

http://dbpedia.org/ontology/Saint

+ Giuseppe Maria Tomasi es un santo
+ Giuseppe Maria Tomasi y Abraham son santos

http://dbpedia.org/ontology/Single

+ Heartbreak Hotel es un sencillo
+ Heartbreak Hotel y Someday We'll Know son sencillos

http://dbpedia.org/ontology/pseudonym

+ seudónimo1 es un seudónimo
+ seudónimo1 y seudónimo2 son seudónimos

http://dbpedia.org/ontology/BullFighter

+ Curro Romero es un torero
+ Curro Romero y José Miguel Arroyo Delgado son toreros

http://dbpedia.org/ontology/Work

+ A Simple Plan es un trabajo
+ A Simple Plan y A Thin Line Between Love and Hate (película) son trabajos

http://dbpedia.org/ontology/Automobile

+ vehículo1 es un vehículo
+ vehículo1 y vehículo2 son vehículos

http://dbpedia.org/ontology/Vein

+ Venas cavas es una vena
+ Venas cavas y Vena mesentérica inferior son venas

http://dbpedia.org/ontology/VideoGame

+ Perfect World (MMORPG) es un videojuego
+ Perfect World (MMORPG) y Star Wars Episodio I: La Amenaza Fantasma (videojuego) son videojuegos

http://dbpedia.org/ontology/Album

+ álbum1 es un álbum
+ álbum1 y álbum2 son álbumes

http://dbpedia.org/ontology/Referee

+ árbitro1 es un árbitro
+ árbitro1 y árbitro2 son árbitros

